{% extends 'base.html' %}
{% block title %}视频列表页{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li>视频</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
	<div class="wp">
		<div class="list" style="margin-top:0;">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">最新 </a></li>
						<li {% if sort == 'hot' %}class="active"{% endif %}><a href="?sort=hot">最热门</a></li>
						<li {% if sort == 'fav_nums' %}class="active"{% endif %}><a href="?sort=fav_nums">收藏人数</a></li>
					</ul>
				</div>
                <div id="inWindow">
                    <div class="tab_cont " id="content">
					<div class="group_list">
                        {% for video in all_videos.object_list %}
                            <div class="box">
                                <a href="{% url 'video:video_detail' video.id %}">
                                    <img width="280" height="350" class="scrollLoading" src="{{ MEDIA_URL }}{{ video.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'video:video_detail' video.id %}">
                                        <h2>{{ video.name }}</h2>
                                    </a>
                                    <span class="fl">时长：<i class="key">{{ video.times }}</i></span>
                                    <span class="fr">播放次数：{{ video.plays }}&nbsp;&nbsp;</span>
                                </div>
                                <div class="bottom">
                                    <a href="{% url 'video:video_detail' video.id %}"><span class="fl">来自s</span></a>
                                    <span class="star fr  notlogin" data-favid="15">{{ video.fav_nums }}</span>
                                </div>
                            </div>
                        {% endfor %}
					</div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if all_videos.has_previous %}
                                <li class="long"><a href="?{{ all_videos.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in all_videos.pages %}
                                {% if page %}
                                    {% ifequal page all_videos.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if all_videos.has_next %}
                                <li class="long"><a href="?{{ all_videos.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}

                        </ul>
                    </div>
				</div>
                </div>
			</div>
			<div class="right layout">
				<div class="head">热门视频推荐</div>
				<div class="group_recommend">
                    {% for hot_video in hot_videos %}
                    <dl>
						<dt>
							<a target="_blank" href="{{ ecmall_ad.url }}">
								<img width="240" height="220" class="scrollLoading" src="{{ MEDIA_URL }}{{ hot_video.image }}"/>
							</a>
						</dt>
						<dd>
							<a target="_blank" href="{{ ecmall_ad.url }}"><h2> {{ hot_video.name }}</h2></a>
						</dd>
					</dl>
                    {% endfor %}


				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

